<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone</key>
	<dict>
		<key>XAxis</key>
		<dict>
			<key>fontSize</key>
			<real>7.2</real>
			<key>labelHeight</key>
			<integer>8</integer>
			<key>labelY</key>
			<integer>10</integer>
		</dict>
		<key>Chart</key>
		<dict>
			<key>startX</key>
			<integer>37</integer>
			<key>startY</key>
			<integer>80</integer>
			<key>legendSpace</key>
			<integer>50</integer>
		</dict>
		<key>StackedColumnDisplayView</key>
		<dict>
			<key>maxBarWidth</key>
			<integer>32</integer>
			<key>barSpace</key>
			<integer>4</integer>
		</dict>
		<key>LinesDisplayView</key>
		<dict>
			<key>radius</key>
			<real>6</real>
			<key>lineWidth</key>
			<real>1</real>
		</dict>
		<key>ColumnDisplayView</key>
		<dict>
			<key>barSpace</key>
			<integer>4</integer>
			<key>maxBarWidth</key>
			<integer>30</integer>
		</dict>
		<key>PieChart</key>
		<dict>
			<key>otherViewsHeight</key>
			<integer>200</integer>
		</dict>
		<key>LegendView</key>
		<dict>
			<key>fontSize</key>
			<real>7.2</real>
			<key>radius</key>
			<integer>5</integer>
			<key>horizSpace</key>
			<integer>0</integer>
			<key>verticalSpace</key>
			<integer>5</integer>
			<key>circleMeasure</key>
			<integer>11</integer>
			<key>labelHeight</key>
			<integer>12</integer>
			<key>labelWidth</key>
			<integer>12</integer>
		</dict>
		<key>YAxis</key>
		<dict>
			<key>fontSize</key>
			<real>7.2</real>
			<key>labelX</key>
			<integer>4</integer>
			<key>labelHeight</key>
			<integer>8</integer>
		</dict>
		<key>PopupView</key>
		<dict>
			<key>popupWidth</key>
			<integer>320</integer>
			<key>popupHeight</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>iPad</key>
	<dict>
		<key>XAxis</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>labelHeight</key>
			<integer>16</integer>
			<key>labelY</key>
			<integer>10</integer>
		</dict>
		<key>Chart</key>
		<dict>
			<key>startX</key>
			<integer>80</integer>
			<key>startY</key>
			<integer>75</integer>
			<key>legendSpace</key>
			<integer>60</integer>
		</dict>
		<key>StackedColumnDisplayView</key>
		<dict>
			<key>maxBarWidth</key>
			<integer>40</integer>
			<key>barSpace</key>
			<integer>6</integer>
		</dict>
		<key>LinesDisplayView</key>
		<dict>
			<key>radius</key>
			<real>6</real>
			<key>lineWidth</key>
			<real>2.5</real>
		</dict>
		<key>ColumnDisplayView</key>
		<dict>
			<key>barSpace</key>
			<integer>6</integer>
			<key>maxBarWidth</key>
			<integer>40</integer>
		</dict>
		<key>PieChart</key>
		<dict>
			<key>otherViewsHeight</key>
			<integer>160</integer>
		</dict>
		<key>LegendView</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>radius</key>
			<integer>5</integer>
			<key>horizSpace</key>
			<integer>10</integer>
			<key>verticalSpace</key>
			<integer>10</integer>
			<key>circleMeasure</key>
			<integer>16</integer>
			<key>labelHeight</key>
			<integer>20</integer>
			<key>labelWidth</key>
			<integer>20</integer>
		</dict>
		<key>YAxis</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>labelX</key>
			<integer>10</integer>
			<key>labelHeight</key>
			<integer>16</integer>
		</dict>
		<key>PopupView</key>
		<dict>
			<key>popupWidth</key>
			<integer>320</integer>
			<key>popupHeight</key>
			<integer>90</integer>
		</dict>
	</dict>
</dict>
</plist>
