<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SparkLineTheme</key>
	<dict>
		<key>fillcolor</key>
		<string>89;187;217;255</string>
		<key>linecolor</key>
		<string>89;187;217;255</string>
	</dict>
	<key>backgroundcolor</key>
	<string>255;255;255;255</string>
	<key>PieChartTheme</key>
	<dict>
		<key>legendlabelcolor</key>
		<string>89;89;89;255</string>
		<key>pieOuterCirclecolor</key>
		<string>82;82;82;255</string>
		<key>pieBordercolors</key>
		<dict>
			<key>1</key>
			<string>51;187;238;255</string>
			<key>2</key>
			<string>160;211;110;255</string>
			<key>3</key>
			<string>255;167;51;255</string>
			<key>4</key>
			<string>157;216;255;255</string>
			<key>5</key>
			<string>80;199;125;255</string>
			<key>6</key>
			<string>225;200;121;255</string>
			<key>7</key>
			<string>247;113;51;255</string>
			<key>8</key>
			<string>189;222;191;255</string>
			<key>9</key>
			<string>51;183;181;255</string>
			<key>10</key>
			<string>148;236;235;255</string>
			<key>11</key>
			<string>60;138;105;255</string>
			<key>12</key>
			<string>255;207;176;255</string>
			<key>13</key>
			<string>89;101;155;255</string>
			<key>14</key>
			<string>225;142;51;255</string>
			<key>15</key>
			<string>167;137;253;255</string>
			<key>16</key>
			<string>173;91;95;255</string>
		</dict>
		<key>pieOutercolors</key>
		<dict>
			<key>1</key>
			<string>0;170;234;255</string>
			<key>2</key>
			<string>136;200;74;255</string>
			<key>3</key>
			<string>255;145;0;255</string>
			<key>4</key>
			<string>133;206;255;255</string>
			<key>5</key>
			<string>36;185;93;255</string>
			<key>6</key>
			<string>217;186;87;255</string>
			<key>7</key>
			<string>248;75;0;255</string>
			<key>8</key>
			<string>173;214;175;255</string>
			<key>9</key>
			<string>0;165;162;255</string>
			<key>10</key>
			<string>121;231;230;255</string>
			<key>11</key>
			<string>11;109;68;255</string>
			<key>12</key>
			<string>255;195;156;255</string>
			<key>13</key>
			<string>47;63;130;255</string>
			<key>14</key>
			<string>218;114;0;255</string>
			<key>15</key>
			<string>145;107;253;255</string>
			<key>16</key>
			<string>153;50;55;255</string>
		</dict>
		<key>pieInnercolors</key>
		<dict>
			<key>1</key>
			<string>0;153;210;255</string>
			<key>2</key>
			<string>122;180;66;255</string>
			<key>3</key>
			<string>229;130;0;255</string>
			<key>4</key>
			<string>119;185;229;255</string>
			<key>5</key>
			<string>32;166;84;255</string>
			<key>6</key>
			<string>195;167;78;255</string>
			<key>7</key>
			<string>220;70;0;255</string>
			<key>8</key>
			<string>195;192;157;255</string>
			<key>9</key>
			<string>0;148;145;255</string>
			<key>10</key>
			<string>109;207;207;255</string>
			<key>11</key>
			<string>10;98;61;255</string>
			<key>12</key>
			<string>229;175;140;255</string>
			<key>13</key>
			<string>42;57;117;255</string>
			<key>14</key>
			<string>196;102;0;255</string>
			<key>15</key>
			<string>130;96;227;255</string>
			<key>16</key>
			<string>137;45;49;255</string>
		</dict>
		<key>piebackground</key>
		<string>255;255;255;255</string>
	</dict>
	<key>VerticalTableTheme</key>
	<dict>
		<key>opendoclink</key>
		<string>51;187;222;255</string>
		<key>HeaderColor</key>
		<string>145;145;145;255</string>
		<key>EvenRowColor</key>
		<string>242;242;242;255</string>
		<key>OddRowColor</key>
		<string>253;253;253;255</string>
		<key>LineDarkColor</key>
		<string>180;180;180;255</string>
		<key>LineLightColor</key>
		<string>242;242;242;255</string>
		<key>drillLinkColor</key>
		<string>255;255;0;255</string>
	</dict>
	<key>BarGraphTheme</key>
	<dict>
		<key>stackedbarcolors</key>
		<dict>
			<key>1</key>
			<string>0;162;217;255</string>
			<key>2</key>
			<string>164;215;46;255</string>
			<key>3</key>
			<string>246;170;39;255</string>
			<key>4</key>
			<string>174;216;239;255</string>
			<key>5</key>
			<string>83;179;37;255</string>
		</dict>
		<key>BarGradient</key>
		<dict>
			<key>1</key>
			<string>230;230;230;255</string>
			<key>2</key>
			<string>240;240;240;255</string>
			<key>3</key>
			<string>247;247;247;255</string>
			<key>4</key>
			<string>255;255;255 ;255</string>
		</dict>
		<key>chartfloorcolor</key>
		<string>255;255;255;255</string>
		<key>axislines</key>
		<string>0;0;0;255</string>
		<key>axislabels</key>
		<string>0;0;0;255</string>
		<key>legendlabels</key>
		<string>0;0;0;255</string>
		<key>horizantalgridline</key>
		<string>180;180;180;255</string>
		<key>verticalgridline</key>
		<string>52;52;52;255</string>
	</dict>
	<key>LineGraphTheme</key>
	<dict>
		<key>chartfloorcolor</key>
		<string>255;255;255;255</string>
		<key>axislines</key>
		<string>0;0;0;255</string>
		<key>axislabels</key>
		<string>0;0;0;255</string>
		<key>legendlabels</key>
		<string>0;0;0;255</string>
		<key>horizantalgridline</key>
		<string>54;54;54;255</string>
	</dict>
	<key>GraphColors</key>
	<dict>
		<key>1</key>
		<string>0;170;234;255</string>
		<key>2</key>
		<string>136;200;74;255</string>
		<key>3</key>
		<string>255;145;0;255</string>
		<key>4</key>
		<string>133;206;255;255</string>
		<key>5</key>
		<string>36;185;93;255</string>
		<key>6</key>
		<string>217;186;87;255</string>
		<key>7</key>
		<string>248;75;0;255</string>
		<key>8</key>
		<string>173;214;175;255</string>
		<key>9</key>
		<string>0;165;162;255</string>
		<key>10</key>
		<string>121;231;230;255</string>
		<key>11</key>
		<string>11;109;68;255</string>
		<key>12</key>
		<string>255;195;156;255</string>
		<key>13</key>
		<string>47;63;130;255</string>
		<key>14</key>
		<string>218;114;0;255</string>
		<key>15</key>
		<string>145;107;253;255</string>
		<key>16</key>
		<string>153;50;55;255</string>
		<key>17</key>
		<string>124;206;236;255</string>
		<key>18</key>
		<string>165;53;0;255</string>
		<key>19</key>
		<string>254;0;70;255</string>
		<key>20</key>
		<string>170;1;48;255</string>
		<key>21</key>
		<string>255;174;235;255</string>
		<key>22</key>
		<string>199;71;252;255</string>
		<key>23</key>
		<string>255;215;168;255</string>
		<key>24</key>
		<string>0;100;96;255</string>
		<key>25</key>
		<string>255;193;193;255</string>
		<key>26</key>
		<string>0;78;118;255</string>
		<key>27</key>
		<string>238;195;249;255</string>
		<key>28</key>
		<string>254;72;40;255</string>
		<key>29</key>
		<string>238;0;190;255</string>
		<key>30</key>
		<string>153;36;110;255</string>
		<key>31</key>
		<string>255;167;186;255</string>
		<key>32</key>
		<string>111;59;130;255</string>
	</dict>
</dict>
</plist>
